.center {
    text-align: center;
    /*padding-top: 20px;*/
    margin-bottom: 0;
    margin-top: 20px;
}

body {
    margin: 0;
    background: #000;

    /*overflow: hidden;*/
    /*position: relative;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    display: flex;
    align-items: center;
    justify-content: center;

}

canvas {
    /*display: block;*/
    position: absolute;
    /*background: #fff;*/
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stage {
/ / or even position: fixed left: 50 %;
    top: 50%;

}

.modal {
    background: #262626;
    border: 3px solid #fff;
    color: #fff;
    min-height: 145px;
    font-size: 16px;
    max-width: 450px !important;
    font-family: Arial, serif;
    padding: 0 30px;
}

.btn-success {
    width: 90px;
    padding: 3px;
}

.modal .footer {
    position: absolute;
    bottom: 0;
    /* position: absolute; */
    width: 65%;
    left: 0;
    right: 0;
    margin: 0 auto 10px;
}

.modal .main-container {
    text-align: left;
}

.hidden {
    display: none !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled, .btn:disabled {
    opacity: .65
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: .5rem
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%
}

.right {
    float: right;
}

.blocker {
    position: absolute;
}

.btn {
    font-size: 14px
}
.close-button{
    margin: 0 auto;
    display: block;
}


