@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.ranking-widget {
    padding: 3px 57px 3px 10px;
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    flex-wrap: wrap;
    font-weight: 600;
    height:auto !important;
    min-height: 32px;
}
a.info-btn-rank {
    display: inline-flex;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    padding: 0px 0px;
    box-sizing: border-box;
    border-radius: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
a.info-btn-rank img{
    height: 14px;
}
.info-collapse {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}
a.arrow-rank {
    display: inline-flex;
    margin-left: 6px;
    flex-wrap: wrap;
}
a.arrow-rank img{
    height: 16px;
}
.rank-no {
    margin-right: 12px;
}
.collapase-info{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.collapase-info .info-data{
    margin-right: 14px;
}
.collapase-info .info-data:last-child{
    margin-right: 0px;
}
.collapase-info{
    display: none;
}
.ranking-widget.active a.arrow-rank {
    transform: rotate(180deg);
}
.ranking-widget.active .collapase-info{
    display: contents;
}
.rebuy-btn a {
    height: 22px;
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #ffff;
    padding: 0 9px;
    border-radius: 7px;
    margin-right: 10px;
}
.modal-ui-block-outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
.modal-ui-block {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 400px;
    text-align: center;
    background-color: #222;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px 40px;
    z-index: 999;
    font-weight: 600;
}
.inner-content-modal p {
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 11px;
}
.btn-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-block a {
    background: #00ae50;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 18px;
    border-radius: 3px;
    text-decoration: none;
    min-width: 98px;
}
.btn-block a:hover {
    filter: brightness(110%);
}
.modal-ranking-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10009;
}
.ranking-modal {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
    background-color: rgb(0 0 0 / 70%);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 28px 22px 26px;
    min-width: 360px;
}
button.dismiss-modal {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background: transparent;
    padding: 0;
    border-radius: 100%;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    z-index: 2;
    min-height: 0;
    margin: 0;
}
.ranking-modal ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.ranking-modal ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #fff;
    margin-right: 0;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    box-shadow: none !important;
}
.ranking-modal ul li:last-child{
    margin-bottom: 0px;
}
.ranking-modal ul li label{
    width: auto;
    margin: 0px 6px 0 0;

}
.ranking-modal ul li span{
    width: auto;
    background-color: transparent;
}
.ranking-modal ul li.prizes {
    display: inline-block;
    position: relative;
}
.ranking-modal ul li.prizes > label {
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    left: -8px;
}
.ranking-modal ul li.prizes > p {
    text-align: center;
    margin: 20px 20px 0px;
}
.ranking-modal ul li.prizes ul {
    width: 100%;
    padding-top: 8px;
}

.ranking-modal ul li.prizes ul li {
    margin-bottom: 10px;
}
.ranking-modal ul li.prizes ul li label {
    min-width: 115px;
    text-align: right;
}
.popup-ui-block{
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 608px;
    text-align: center;
    background-color: #222;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 50px 40px;
    z-index: 999;
    align-items: center;
    font-weight: 600;
    min-height: 130px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.popup-ui-block .inner-content-modal p, .popup-ui-block .inner-content-modal p span {
    font-size: 24px !important;
    font-weight: 400;
    font-family: 'PT Sans' !important;
    color: #f2f2f2;
}
.popup-ui-block .inner-content-modal p span {
    display: inline-block;
    padding-left: 3px;
    font-size: 25px !important;
    background: transparent;
}
.tournamanent-btnblock {
    min-width: 70px;
}

.rebuy-btn a {
  animation: flash 1s ease;
  animation-iteration-count: infinite;
}

@keyframes flash {
    50% {
        color: #e2c035;
        border-color: #e2c035;
    }
}

@media screen and (max-width:991px){
    .ranking-widget{
        font-size: 15px;
    }
    .rebuy-btn a {
        font-size: 12px;
    }
    .collapase-info, .rank-no{
        line-height: normal;
    }
    
}
@media screen and (max-width: 767px){
    .info-collapse{
        top: 15px;
    }
    .ranking-modal{
        position: fixed;
        min-width: 292px;
        max-width: 90%;
        padding: 24px 14px 26px;
    }
    .ranking-modal ul li.prizes ul li label{
        min-width: 108px;
    }
    .ranking-modal ul li.prizes > label{
        white-space: normal;
        text-align: left;
        left: auto;
    }
    .collapase-info .info-data {
        width: 100%;
        display: inline-block;
        text-align: left;
        margin: 4px 0 3px 0;
    }
    .ranking-widget{
        max-width: 90%;
    }
    .collapase-info{
        padding-top: 4px;
    }
    .btn-block a{
        margin: 0 5px;
    }
    .modal-ui-block{
        max-width: 280px;
        width: 100%;
    }
    .ranking-widget.active{
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media (max-width: 1024px)  and  (orientation: portrait) {
    .ranking-widget{
        box-sizing: border-box;
    }
    .collapase-info, .rank-no{
        font-size: 12px;
    }
    div#balance {
        margin-right: 0;
    }
    a.info-btn-rank {
        width: 14px;
        height: 14px;
        border: 1px solid #fff;
        padding: 0px 0px;
    }
    a.info-btn-rank img{
        height: 8px;
    }
    a.arrow-rank img{
        height: 11px;
    }
    .ranking-widget{
        padding: 1px 40px 1px 5px;
        min-height: 28px;
    }
    .rank-no{
        margin-right: 5px;
    }
    .info-collapse{
        top: 13px;
    }
    .rebuy-btn a {
        font-size: 8px;
        height: 16px;
        line-height: 17px;
        margin-left: 4px;
        margin-right: 2px;
    }
}